Flask==2.3.3
python-dotenv==1.0.0
requests==2.31.0
flask-cors==4.0.0
matplotlib==3.10.1
pandas==2.2.3
pillow==11.1.0
bootstrap-flask==2.3.0
wtforms==3.0.1
flask-wtf==1.2.1
uuid==1.30
werkzeug==2.3.7
jsonschema==4.20.0 